
.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.pimg1 {
  background-image: url("../imgs/img2.jpeg");
  height: 600px;
}


.pimg2 {
  background-image: url("../imgs/img1.jpg");
  min-height: 250px;

}
.pimg3 {
  background-image: url("../imgs/img11.jpeg");
  min-height: 250px;

}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666
}


.section-dark {
  background-color: #282e34;
  color: #ddd
}

.ptext {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 30px;
  line-height: 1.2px;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

.square {
  width: 200px;
  height: 200px;
  display: inline-block;
  border: 1px black solid;
  margin: 0 10px;
}


.card-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.subtitulo {
  font-family: 'Open Sans light';
  text-align:justify;
  text-justify:inter-word;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 1.2px;
}

.sans-light {
  color: #fff;
  font-family: 'Open Sans light';
  text-justify:inter-word;
}

.sans-light-dark{
  color: #000;
  font-family: 'Open Sans light';
  text-justify:inter-word;
}
.sans-bold-dark{
  color: #000;
  font-family: 'Open Sans';
  text-justify:inter-word;
}