
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5353c6;
  padding-bottom: 10px;
  padding-top: 10px;
}

div li {
  float: right;


}
a img {
  margin-left: 200px;
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #3939ac;
  cursor: pointer;
}
