.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #5353c6;
}

header::after {
  content: '';
  display: table;
  clear:both;
}

header .logo {
  float: left;
  padding: 10px 0;
}

header .instagram {
  float: right;
}
header nav {
  float: right
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Open Sans';
}

header nav a:hover {
  color: #ccc;
}

header a img {
  cursor: pointer;
}


